.error-message {
  @include H7;

  min-height: 32px;
  border: 1px solid var(--color-error-default);
  color: var(--color-text-default);
  background-color: var(--color-error-muted);
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px;

  &__text {
    overflow: auto;
  }

  &__link {
    text-decoration: none;
    color: var(--Blue-500);

    &:hover {
      color: var(--Blue-400);
    }

    &:active {
      color: var(--Blue-600);
    }
  }
}
